/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2016, 15:33:09
    Author     : HUAL
*/


#MenuBar2{
    -fx-background-color:  #00BCD4;
    
}

#vBox1{
    -fx-background-color:  #00BCD4;
    
}




